body {
    font-family: Arial, sans-serif;
    background: whitesmoke;
    padding: 20px;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: black;
}

.summary {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
}

.summary div {
    text-align: center;
}

form {
    background: white;
    padding: 15px;
    display: flex;
    gap: 10px;
    border-radius: 5px;
}

input, select, button {
    padding: 8px;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-left: 5px solid;
}

.income {
    border-color: green;
}

.expense {
    border-color: red;
}

.delete-btn {
    color: red;
    cursor: pointer;
}
